
<h2><%= t(:edit_account)%></h2>

<div class="divAvatar">
<img src=<%= @user.avatar.url%> width="140px" height="140px" </img>
</div>



<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical', :multipart => true }) do |f| %>
  <%= f.error_notification %>
  <%= f.file_field :avatar %>


<hr></hr>
  <%= f.input :name, :label => t(:name), :autofocus => true %>
  <%= f.input :email, :label => t(:email), :required => true %>
  <%= f.input :password, :label => t(:new_password), :autocomplete => "off", :hint => t(:leave_blank_to_keep), :required => false %>
  <%= f.input :password_confirmation, :label => t(:pw_confirmation),:required => false %>
  <%= f.input :current_password, :label => t(:current_password),:hint => t(:type_current_password), :required => true %>
  
  <hr></hr>

  <select id="function" name="user[function]" style="width:240px;">
		<option value="Aluno"><%= t(:teacher)%></option>
		<option value="Professor"><%= t(:student)%></option>
  </select>


  <%= f.input :college,:label => t(:college), :required => true %>
  <%= f.input :course,:label => t(:course), :required => true %>

  <%= f.button :submit, ""+t(:save), :class => 'btn-primary' %>
<% end %>



<hr></hr>

<p><%= t(:wish_to_delete)%> <%= link_to t(:cancel_account), registration_path(resource_name), :data => { :confirm => t(:are_you_sure) }, :method => :delete %>.</p>
<%= link_to t(:back), :back %>