<h2><%= t(:new_user)%></h2><%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, :label => t(:name),:autofocus => true %>
  <%= f.input :email,:label => t(:email), :required => true %>
  <b> Sua senha deve ter no mínimo 6 caracteres e nenhum caractere especial! </b>
  <%= f.input :password, :label => t(:password), :required => true %>
  <%= f.input :password_confirmation,:label => t(:pw_confirmation), :required => true %>
   
  <hr> </hr>
  <select id="function" name="user[function]" style="width:240px;">
		<option value="Aluno"><%= t(:student)%></option>
		<option value="Professor"><%= t(:teacher)%></option>
  </select>


  <%= f.input :college,:label => t(:college), :required => true %>
  <%= f.input :course,:label => t(:course), :required => true %>

  
  <div class="divAvatar">
<img src=<%= @user.avatar.url%> width="140px" height="140px" </img>
</div>


  <%= f.error_notification %>
  <%= f.file_field :avatar %>


<hr></hr>
 
  <%= f.button :submit, t(:create_account), :class => 'btn-primary' %>
<% end %>

