<!--Not Logged user home screen-->

<link href="css/style.css" rel="stylesheet">


<div class="note-tabs"> <!-- Homepage Tabs-->
	
	

	<div class="tab-content">

		<!-- Tab 1 - Comece Aqui -->

		<div class="tab-pane active" id="navbar-fixed-Start">
			
				<%= render :partial => 'welcome_tab1' %>
												
		</div><!-- #navbar-fixed-html -->
		
		


		<!-- Tab 4 - MAC -->

		<div class="tab-pane" id="navbar-fixed-Mac">
			
		<%= render :partial => 'welcome_tab2' %>

	    </div>

	    <!-- Tab 3 - Referencias -->

		<div class="tab-pane" id="navbar-fixed-Ref">

			<%= render :partial => 'welcome_tab3' %>				
			
	    </div>



	    <!-- Tab Ajuda -->

	    <div class="tab-pane" id="navbar-fixed-Help">

			<div class="row-fluid">
					
			<div class="span4">
				<ul>

					<br /><br /><br />
					
					<b><%= t(:select_what_you_would_like_to_learn) %> <br /> <br /></b>
			  		
	<li>
		<a href ="#" onclick="setVideoTime(1)"> <%= t(:help1) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(42)"> <%= t(:help2) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(80)"> <%= t(:help3) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(115)"> <%= t(:help4) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(127)"> <%= t(:help5) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(140)"> <%= t(:help6) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(154)"> <%= t(:help7) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(165)"> <%= t(:help8) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(180)"> <%= t(:help9) %> </a>
	</li>
	<li> 
		<a href ="#" onclick="setVideoTime(199)"> <%= t(:help10) %> </a>
	</li>
	<li>
		<a href ="#" onclick="setVideoTime(203)"> <%= t(:help11) %> </a>
	</li>
	
			  	</ul>


			</div>

			<div class="span8">
			<video width="100%" height="520px" class= "myTaggedVideo" id= "myTaggedVideo" poster="/assets/How-to/Projects.png" controls>
				  <source src="/assets/how-to/help.mp4" type="video/mp4">
				   Seu navegador ainda nao suporta videos em HTML 5, baixe o Google Chrome para continuar.
				<source src="/assets/how-to/help.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
			</video>
			</div><!-- /#navbar-fixed-css -->

			</div>
				

			
	    </div>



		<!-- Tab 4 - Consolidação -->


		<div class="tab-pane" id="navbar-fixed-Consolidate">
			<iframe src=<%=new_user_registration_path%>>Your Browser Doesn't Support Frames. </iframe>

			Read more: http://www.ehow.com/how_8265005_load-internal-webpage-iframe.html#ixzz2eEMgYVIr
		</div><!-- /#navbar-fixed-css -->

	</div><!-- .tab-content -->

</div><!-- /.note-tabs -->


	