<!-- Scripts for combobox img -->
<script src="../assets/jquery-1.9.0.min.js"></script>
<!-- <msdropdown> -->
<link rel="stylesheet" type="text/css" href="../assets/dd.css" />
<script src="../assetsjquery.dd.js"></script>
<!-- </msdropdown> -->

<h1>Editar Etiqueta</h1>


<% provide(:title, "Editar Etiqueta") %>

<div>
  <div >
    <%= form_for(@tag) do |f| %>

		<select id="tagid" name="tag[tagid]" style="width:240px;">
		<option value="1" data-image="http://localhost:3000/assets/Tag-Icons/1.png" >Ué, o que houve?</option>
		<option value="02" data-image="http://localhost:3000/assets/Tag-Icons/2.png">Socorro!</option>
		<option value="03" data-image="http://localhost:3000/assets/Tag-Icons/3.png">Por que não funciona?</option>
		<option value="04" data-image="http://localhost:3000/assets/Tag-Icons/4.png">Cadê?</option>
		<option value="05" data-image="http://localhost:3000/assets/Tag-Icons/5.png">Assim não dá!</option>
		<option value="06" data-image="http://localhost:3000/assets/Tag-Icons/6.png">Onde estou?</option>
		<option value="07" data-image="http://localhost:3000/assets/Tag-Icons/7.png">E agora?</option>
		<option value="08" data-image="http://localhost:3000/assets/Tag-Icons/8.png">O que é isso?</option>
		<option value="09" data-image="http://localhost:3000/assets/Tag-Icons/9.png">Epa!</option>
		<option value="10" data-image="http://localhost:3000/assets/Tag-Icons/10.png">Não, obrigado!</option>
		<option value="11" data-image="http://localhost:3000/assets/Tag-Icons/11.png">Vai de outro jeito.</option>
		<option value="12" data-image="http://localhost:3000/assets/Tag-Icons/12.png">Desisto!</option>
		<option value="13" data-image="http://localhost:3000/assets/Tag-Icons/13.png">Para mim está bom</option>
    	</select>

		 <dl>
			<dt><%= f.label :Inicio %></dt>
			<dd> 
				<%= f.text_field :start %> </dd>
		</dl>

		<dl>
			<dt> <%= f.label :Fim %></dt>
			<dd>
				<%= f.text_field :finish %> 
			</dd>
		</dl>

		 <dl>
			<dt> <%= f.label :Observação %> </dt>
			<dd>  <%= f.text_area :obs , :rows => "4", :style => "width:260px" %> </dd>
		</dl>	

		 <dl>
			<dd>  <%= f.submit :Editar%> </dd>
		</dl>


    <% end %>

  </div>
</div>


<script>

$(document).ready(function(e) {		
	//no use
	try {
		var pages = $("#pages").msDropdown({on:{change:function(data, ui) {
												var val = data.value;
												if(val!="")
													window.location = val;
											}}}).data("dd");

		var pagename = document.location.pathname.toString();
		pagename = pagename.split("/");
		pages.setIndexByValue(pagename[pagename.length-1]);
		$("#ver").html(msBeautify.version.msDropdown);
	} catch(e) {
		//console.log(e);	
	}
	
	$("#ver").html(msBeautify.version.msDropdown);
		
	//convert
	$("select").msDropdown({roundedBorder:false});
	createByJson();
	$("#tech").data("dd");
});
function showValue(h) {
	console.log(h.name, h.value);
}
$("#tech").change(function() {
	console.log("by jquery: ", this.value);
})
//
</script>



<script>

function showValue(h) {
	console.log(h.name, h.value);
}
$("#tech").change(function() {
	console.log("by jquery: ", this.value);
})
//
</script>
